<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskaoyan.wdjava.mapper.WdStudentInfoMapper">
    <resultMap id="BaseResultMap" type="com.cskaoyan.wdjava.bean.WdStudentInfo">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="sn" jdbcType="INTEGER" property="sn"/>
        <result column="stu_name" jdbcType="VARCHAR" property="stuName"/>
        <result column="group" jdbcType="INTEGER" property="group"/>
        <result column="isLeader" jdbcType="INTEGER" property="isLeader"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="id_no" jdbcType="VARCHAR" property="idNo"/>
        <result column="start_term_id" jdbcType="INTEGER" property="startTermId"/>
        <result column="current_term_id" jdbcType="INTEGER" property="currentTermId"/>
        <result column="mobile" jdbcType="VARCHAR" property="mobile"/>
        <result column="master" jdbcType="INTEGER" property="master"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="birthday" jdbcType="DATE" property="birthday"/>
        <result column="pic" jdbcType="VARCHAR" property="pic"/>
        <result column="gender" jdbcType="VARCHAR" property="gender"/>
        <result column="school" jdbcType="VARCHAR" property="school"/>
        <result column="major" jdbcType="VARCHAR" property="major"/>
        <result column="graduate_year" jdbcType="INTEGER" property="graduateYear"/>
        <result column="add_time" jdbcType="TIMESTAMP" property="addTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="deleted" jdbcType="INTEGER" property="deleted"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        id, sn, stu_name, `group`,isLeader, id_no, start_term_id, current_term_id, mobile, master,
        status, birthday, pic, gender, school, major,comment, graduate_year, add_time, update_time, deleted
    </sql>
    <select id="selectByExample" parameterType="com.cskaoyan.wdjava.bean.WdStudentInfoExample"
            resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from wdjava_student_info_t
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from wdjava_student_info_t
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from wdjava_student_info_t
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <delete id="deleteByExample" parameterType="com.cskaoyan.wdjava.bean.WdStudentInfoExample">
        delete from wdjava_student_info_t
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.cskaoyan.wdjava.bean.WdStudentInfo">
        insert into wdjava_student_info_t (id, sn, stu_name,
        password, id_no, start_term_id,
        current_term_id, mobile, master,
        status, birthday, pic,
        gender, school, graduate_year,
        add_time, update_time, deleted
        )
        values (#{id,jdbcType=INTEGER}, #{sn,jdbcType=INTEGER}, #{stuName,jdbcType=VARCHAR},
        #{password,jdbcType=VARCHAR}, #{idNo,jdbcType=VARCHAR}, #{startTermId,jdbcType=INTEGER},
        #{currentTermId,jdbcType=INTEGER}, #{mobile,jdbcType=VARCHAR}, #{master,jdbcType=INTEGER},
        #{status,jdbcType=VARCHAR}, #{birthday,jdbcType=DATE}, #{pic,jdbcType=VARCHAR},
        #{gender,jdbcType=VARCHAR}, #{school,jdbcType=VARCHAR}, #{graduateYear,jdbcType=INTEGER},
        #{addTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{deleted,jdbcType=INTEGER}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.cskaoyan.wdjava.bean.WdStudentInfo">
        insert into wdjava_student_info_t
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="sn != null">
                sn,
            </if>
            <if test="stuName != null">
                stu_name,
            </if>
            <if test="group != null">
                `group`,
            </if>
            <if test="isLeader != null">
                isLeader,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="idNo != null">
                id_no,
            </if>
            <if test="startTermId != null">
                start_term_id,
            </if>
            <if test="currentTermId != null">
                current_term_id,
            </if>
            <if test="mobile != null">
                mobile,
            </if>
            <if test="master != null">
                master,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="birthday != null">
                birthday,
            </if>
            <if test="pic != null">
                pic,
            </if>
            <if test="gender != null">
                gender,
            </if>
            <if test="school != null">
                school,
            </if>
            <if test="major != null">
                major,
            </if>
            <if test="graduateYear != null">
                graduate_year,
            </if>
            <if test="comment != null">
                comment,
            </if>
            <if test="addTime != null">
                add_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="deleted != null">
                deleted,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="sn != null">
                #{sn,jdbcType=INTEGER},
            </if>
            <if test="stuName != null">
                #{stuName,jdbcType=VARCHAR},
            </if>
            <if test="group != null">
                #{group,jdbcType=INTEGER},
            </if>
            <if test="isLeader != null">
                #{isLeader,jdbcType=INTEGER},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="idNo != null">
                #{idNo,jdbcType=VARCHAR},
            </if>
            <if test="startTermId != null">
                #{startTermId,jdbcType=INTEGER},
            </if>
            <if test="currentTermId != null">
                #{currentTermId,jdbcType=INTEGER},
            </if>
            <if test="mobile != null">
                #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="master != null">
                #{master,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                #{status,jdbcType=VARCHAR},
            </if>
            <if test="birthday != null">
                #{birthday,jdbcType=DATE},
            </if>
            <if test="pic != null">
                #{pic,jdbcType=VARCHAR},
            </if>
            <if test="gender != null">
                #{gender,jdbcType=VARCHAR},
            </if>
            <if test="school != null">
                #{school,jdbcType=VARCHAR},
            </if>
            <if test="major != null">
                #{major,jdbcType=VARCHAR},
            </if>
            <if test="graduateYear != null">
                #{graduateYear,jdbcType=INTEGER},
            </if>
            <if test="comment != null">
                #{comment,jdbcType=LONGVARCHAR},
            </if>
            <if test="addTime != null">
                #{addTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleted != null">
                #{deleted,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.cskaoyan.wdjava.bean.WdStudentInfoExample"
            resultType="java.lang.Long">
        select count(*) from wdjava_student_info_t
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update wdjava_student_info_t
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.sn != null">
                sn = #{record.sn,jdbcType=INTEGER},
            </if>
            <if test="record.stuName != null">
                stu_name = #{record.stuName,jdbcType=VARCHAR},
            </if>
            <if test="record.password != null">
                password = #{record.password,jdbcType=VARCHAR},
            </if>
            <if test="record.idNo != null">
                id_no = #{record.idNo,jdbcType=VARCHAR},
            </if>
            <if test="record.startTermId != null">
                start_term_id = #{record.startTermId,jdbcType=INTEGER},
            </if>
            <if test="record.currentTermId != null">
                current_term_id = #{record.currentTermId,jdbcType=INTEGER},
            </if>
            <if test="record.mobile != null">
                mobile = #{record.mobile,jdbcType=VARCHAR},
            </if>
            <if test="record.master != null">
                master = #{record.master,jdbcType=INTEGER},
            </if>
            <if test="record.status != null">
                status = #{record.status,jdbcType=VARCHAR},
            </if>
            <if test="record.birthday != null">
                birthday = #{record.birthday,jdbcType=DATE},
            </if>
            <if test="record.pic != null">
                pic = #{record.pic,jdbcType=VARCHAR},
            </if>
            <if test="record.gender != null">
                gender = #{record.gender,jdbcType=VARCHAR},
            </if>
            <if test="record.school != null">
                school = #{record.school,jdbcType=VARCHAR},
            </if>
            <if test="record.graduateYear != null">
                graduate_year = #{record.graduateYear,jdbcType=INTEGER},
            </if>
            <if test="record.addTime != null">
                add_time = #{record.addTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.updateTime != null">
                update_time = #{record.updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.deleted != null">
                deleted = #{record.deleted,jdbcType=INTEGER},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update wdjava_student_info_t
        set id = #{record.id,jdbcType=INTEGER},
        sn = #{record.sn,jdbcType=INTEGER},
        stu_name = #{record.stuName,jdbcType=VARCHAR},
        password = #{record.password,jdbcType=VARCHAR},
        id_no = #{record.idNo,jdbcType=VARCHAR},
        start_term_id = #{record.startTermId,jdbcType=INTEGER},
        current_term_id = #{record.currentTermId,jdbcType=INTEGER},
        mobile = #{record.mobile,jdbcType=VARCHAR},
        master = #{record.master,jdbcType=INTEGER},
        status = #{record.status,jdbcType=VARCHAR},
        birthday = #{record.birthday,jdbcType=DATE},
        pic = #{record.pic,jdbcType=VARCHAR},
        gender = #{record.gender,jdbcType=VARCHAR},
        school = #{record.school,jdbcType=VARCHAR},
        graduate_year = #{record.graduateYear,jdbcType=INTEGER},
        add_time = #{record.addTime,jdbcType=TIMESTAMP},
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
        deleted = #{record.deleted,jdbcType=INTEGER}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.cskaoyan.wdjava.bean.WdStudentInfo">
        update wdjava_student_info_t
        <set>
            <if test="sn != null">
                sn = #{sn,jdbcType=INTEGER},
            </if>
            <if test="stuName != null">
                stu_name = #{stuName,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="idNo != null">
                id_no = #{idNo,jdbcType=VARCHAR},
            </if>
            <if test="startTermId != null">
                start_term_id = #{startTermId,jdbcType=INTEGER},
            </if>
            <if test="currentTermId != null">
                current_term_id = #{currentTermId,jdbcType=INTEGER},
            </if>
            <if test="mobile != null">
                mobile = #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="master != null">
                master = #{master,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=VARCHAR},
            </if>
            <if test="birthday != null">
                birthday = #{birthday,jdbcType=DATE},
            </if>
            <if test="pic != null">
                pic = #{pic,jdbcType=VARCHAR},
            </if>
            <if test="gender != null">
                gender = #{gender,jdbcType=VARCHAR},
            </if>
            <if test="school != null">
                school = #{school,jdbcType=VARCHAR},
            </if>
            <if test="graduateYear != null">
                graduate_year = #{graduateYear,jdbcType=INTEGER},
            </if>
            <if test="addTime != null">
                add_time = #{addTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleted != null">
                deleted = #{deleted,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.cskaoyan.wdjava.bean.WdStudentInfo">
        update wdjava_student_info_t
        set sn = #{sn,jdbcType=INTEGER},
        stu_name = #{stuName,jdbcType=VARCHAR},
        password = #{password,jdbcType=VARCHAR},
        id_no = #{idNo,jdbcType=VARCHAR},
        start_term_id = #{startTermId,jdbcType=INTEGER},
        current_term_id = #{currentTermId,jdbcType=INTEGER},
        mobile = #{mobile,jdbcType=VARCHAR},
        master = #{master,jdbcType=INTEGER},
        status = #{status,jdbcType=VARCHAR},
        birthday = #{birthday,jdbcType=DATE},
        pic = #{pic,jdbcType=VARCHAR},
        gender = #{gender,jdbcType=VARCHAR},
        school = #{school,jdbcType=VARCHAR},
        graduate_year = #{graduateYear,jdbcType=INTEGER},
        add_time = #{addTime,jdbcType=TIMESTAMP},
        update_time = #{updateTime,jdbcType=TIMESTAMP},
        deleted = #{deleted,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>